<head>
    <title>All Entries</title>
    <style>
        span:nth-of-type(1) {
            margin-left: 2em;
        }
        
        span {
            display: inline-block;
            margin: 0;
            padding: 5px;
            width: 200px;
        }
    </style>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Hello World All Entries</h1>
    <a href="/insert" class="emp">Add entry</a>
    <br><br> Search entry
    <form action="/person" method="post">
        <input type="text" name="id" id="id" placeholder="ID" />
        <input type="submit" value="Search">
    </form>
    <div class="table">
        <% data.forEach(element => { %>
            <div>
                <span><%= element.id %></span>
                <span><%= element.first_name %></span>
                <span><%= element.last_name %></span>
                <span><%= element.email %></span>
                <span><a href="/update/<%=element.id%>">Update</a></span>
                <span><a href="/delete/<%=element.id%>">Delete</a></span>
            </div>
            <% }) %>
                <h1 id="alert">
                    <%= name || "All Entries Above" %>
                </h1>
    </div>
</body>